.home-page,
.game-page,
.leaderboard-page,
.about-page {
  padding-top: 82px;
}

/* ~~~~~~~~~~HEADER~~~~~~~~~~ */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 25px;
  background-color: rgb(94, 55, 74);
  position: relative;
  z-index: 10;
  position: fixed;
  width: 100%;
  gap: 10px;
  box-shadow: 0 1px 15px rgb(66, 37, 52);
  height: 82px;
}

.header h1 {
  font-size: 24px;
  font-weight: 400;
  white-space: nowrap;
}

.nav {
  display: flex;
  gap: 10px;
  font-size: 17.5px;
}

.header a {
  cursor: pointer;
  padding: 7px 10px;
  border-radius: 7px;
}

.header a:hover {
  background-color: rgb(109, 65, 86);
  transition: background-color 0.5s;
}

/* ~~~~~~~~~~HOME PAGE~~~~~~~~~~ */

.home-page {
  text-align: center;
  margin: 0 10px 30px;
}

.home-page h2 {
  font-weight: 500;
  margin: 30px 0 25px;
  font-size: 28px;
}

.game-container {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.game-container > div {
  width: 350px;
  background-color: rgb(109, 65, 86);
  border-radius: 10px;
  overflow: hidden;
}

.game-img {
  height: 300px;
}

.game-img img {
  width: 350px;
  height: 300px;
  object-fit: cover;
}

.game-text {
  padding: 15px 10px;
  font-size: 18px;
}

.game-text a {
  padding: 8px 20px;
  margin: 10px 0 5px;
  background-color: rgb(206, 168, 255);
  color: rgb(87, 52, 69);
  font-weight: 500;
  font-size: 17px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  display: inline-block;
}

.game-text a:hover {
  filter: brightness(90%);
  transition: filter 0.2s;
}

/* ~~~~~~~~~~ IN GAME HEADER~~~~~~~~~~ */

.game-timer {
  font-size: 20px;
  padding-right: 10px;
}

#items-to-find {
  display: flex;
  gap: 20px;
}

.item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.item img {
  width: 40px;
  border-radius: 50%;
  user-select: none;
}

.item img:hover {
  transform: scale(3) translateY(10px);
  transition: transform 0.2s;
}

.found {
  text-decoration: line-through;
  filter: brightness(80%);
}

/* ~~~~~~~~~~GAME PAGE~~~~~~~~~~ */

.main-img {
  width: 100%;
  height: auto;
  cursor: crosshair;
  display: block;
  user-select: none;
}

#target-box {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255, 0.4);
  border: dashed 3px white;
  color: white;
  font-size: 25px;
  text-align: center;
  vertical-align: middle;
  line-height: 80px;
  cursor: crosshair;
  user-select: none;
}

#dropdown {
  position: absolute;
  background-color: rgb(94, 55, 74);
  border-radius: 7px;
  overflow: hidden;
}

.dropdown-item {
  padding: 7px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 150px;
  user-select: none;
}

.dropdown-item:hover {
  background-color: rgb(109, 65, 86);
  transition: background-color 0.5s;
}

.dropdown-item img {
  width: 50px;
  border-radius: 50%;
}

.hidden {
  display: none;
}

/* ~~~~~~~~~~ALERT~~~~~~~~~~ */

.alert {
  position: fixed;
  top: 110px;
  padding: 15px 20px;
  border-radius: 7px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 500;
  text-align: center;
  opacity: 0;
  animation: fadeInAndOut 3000ms;
}

.alert-success {
  background-color: green;
}

.alert-fail {
  background-color: rgb(201, 0, 0);
}

@keyframes fadeInAndOut {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0.5;
  }
  10% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  95% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

/* ~~~~~~~~~~END GAME POPUP~~~~~~~~~~ */

.blocker {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  clip-path: inset(0 -100vmax);
}

.end-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.end-popup {
  border-radius: 10px;
  background-color: rgb(206, 168, 255);
  color: rgb(87, 52, 69);
  padding: 20px;
  text-align: center;
  font-size: 18px;
  width: 350px;
}

.timer-text {
  font-weight: 500;
  font-size: 20px;
}

.form-group {
  padding: 15px 0;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
  font-size: 17px;
  font-weight: 500;
}

.form-group span {
  font-size: 15px;
  font-style: italic;
  font-weight: 400;
}

.form-group input {
  width: 100%;
  border: none;
  font-size: 18px;
  border-radius: 5px;
  padding: 5px 7px;
  color: rgb(87, 52, 69);
  outline: rgb(87, 52, 69) 1px solid;
}

.form-group input:focus {
  outline: rgb(87, 52, 69) 2px solid;
}

.entry-form button {
  font-size: 16px;
  background-color: rgb(94, 55, 74);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 7px 15px;
  cursor: pointer;
}

/* ~~~~~~~~~~LEADERBOARD PAGE~~~~~~~~~~ */

.leaderboard-page {
  text-align: center;
  margin: 0 10px 30px;
}

.lb-games {
  cursor: pointer;
}

.lb-title {
  font-weight: 500;
  margin: 30px 0 25px;
  font-size: 28px;
}

.leaderboard-page .game-text {
  padding: 30px 10px;
}

.lb-game-title {
  font-weight: 500;
  margin: 40px 0 25px;
  font-size: 25px;
}

.selected {
  outline: white solid 1px;
  box-shadow: 0 0 15px white;
}

.lb-table {
  max-width: 800px;
  margin: auto;
  overflow-x: auto;
}

table {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  border-collapse: collapse;
}

thead > tr {
  font-weight: 500;
  background-color: rgb(133, 82, 106);
}

tbody > tr {
  background-color: rgb(109, 65, 86);
}

th,
td {
  padding: 15px 20px;
}

/* ~~~~~~~~~~ABOUT PAGE~~~~~~~~~~ */

.about-page {
  text-align: center;
  font-size: 18px;
  margin: 0 10px 30px;
}

.about-page a {
  color: #d0ccff;
}

.about-page h1 {
  font-weight: 500;
  margin: 30px 0 25px;
  font-size: 28px;
}

.about-content {
  max-width: 800px;
  margin: auto;
}

.about-txt,
.img-txt {
  padding-bottom: 50px;
}

.gh-txt {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding-bottom: 25px;
}

.gh-txt a {
  display: flex;
  align-items: center;
  gap: 5px;
}

.gh-txt img {
  width: 23px;
  filter: invert(75%) sepia(28%) saturate(603%) hue-rotate(203deg) brightness(103%) contrast(105%);
}

/* ~~~~~~~~~~ERROR PAGE~~~~~~~~~~ */

#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 10px;
  gap: 30px;
  font-size: 18px;
}

/* ~~~~~~~~~~MEDIA QUERIES~~~~~~~~~~ */

.menu-btn {
  display: none;
}

#item-count {
  display: none;
}

@media (max-width: 1055px) {
  #items-to-find {
    position: absolute;
    top: 60px;
    right: 38px;
    flex-direction: column;
    display: none;
    background-color: rgb(66, 37, 52);
    border-radius: 7px;
    box-shadow: 0 0 10px rgb(66, 37, 52);
    overflow: hidden;
    gap: 0;
  }

  .item {
    padding: 7px 10px;
    width: 150px;
  }

  .item:hover {
    background-color: rgb(109, 65, 86);
    transition: background-color 0.5s;
  }

  .item img {
    width: 50px;
  }

  .item img:hover {
    transform: none;
    transition: none;
  }

  #items-to-find.show {
    display: flex;
  }

  #item-count {
    display: block;
    font-size: 18px;
    background-color: rgb(206, 168, 255);
    color: rgb(87, 52, 69);
    font-weight: 500;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
  }

  #item-count:hover {
    background-color: rgb(175, 146, 214);
    transition: background-color 0.5s;
  }
}

@media (max-width: 525px) {
  .header {
    padding: 20px 10px;
  }

  .header h1 {
    font-size: 20px;
  }

  .game-timer {
    font-size: 18px;
  }

  #items-to-find {
    top: 57px;
    right: 20px;
  }

  #item-count {
    font-size: 17px;
    width: 24px;
    height: 24px;
    line-height: 24px;
  }

  .nav {
    position: absolute;
    top: 60px;
    right: 25px;
    flex-direction: column;
    display: none;
    background-color: rgb(66, 37, 52);
    border-radius: 7px;
    box-shadow: 0 0 10px rgb(66, 37, 52);
    overflow: hidden;
    gap: 0;
  }

  .nav a {
    padding: 17px 20px;
    width: 100%;
    border-radius: 0;
    text-align: center;
  }

  .show {
    display: flex;
  }

  .menu-btn {
    display: flex;
    cursor: pointer;
    padding: 5px;
    border: none;
    background-color: rgb(94, 55, 74);
    border-radius: 7px;
  }

  .menu-btn:hover {
    background-color: rgb(109, 65, 86);
    transition: background-color 0.5s;
  }

  .menu-btn img {
    width: 30px;
    filter: invert(100%) sepia(9%) saturate(7451%) hue-rotate(277deg) brightness(112%)
      contrast(111%);
  }

  .game-container > div {
    width: 300px;
  }

  .game-img {
    height: 250px;
  }

  .game-img img {
    width: 300px;
    height: 250px;
  }

  .alert {
    padding: 12px 17px;
    font-size: 15px;
  }

  .end-popup {
    width: 300px;
    padding: 15px;
  }
}
