.home-page,
.game-page,
.leaderboard-page,
.about-page {
  padding-top: 82px;
}

/* ~~~~~~~~~~HEADER~~~~~~~~~~ */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 25px;
  background-color: rgb(94, 55, 74);
  position: relative;
  z-index: 10;
  position: fixed;
  width: 100%;
  gap: 10px;
}

.header h1 {
  font-size: 24px;
  font-weight: 400;
  white-space: nowrap;
}

.nav {
  display: flex;
  gap: 25px;
  font-size: 17.5px;
}

.header a {
  cursor: pointer;
  padding: 7px 10px;
  border-radius: 7px;
}

.header a:hover {
  background-color: rgb(109, 65, 86);
  transition: background-color 0.5s;
}

/* ~~~~~~~~~~HOME PAGE~~~~~~~~~~ */

.home-page {
  text-align: center;
  margin: 0 10px 20px;
}

.home-page h2 {
  font-weight: 500;
  margin: 25px 0;
  font-size: 28px;
}

.game-container {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.game-container > div {
  width: 350px;
  background-color: rgb(109, 65, 86);
  border-radius: 10px;
  overflow: hidden;
}

.game-img {
  height: 300px;
}

.game-img img {
  width: 350px;
  height: 300px;
  object-fit: cover;
}

.game-text {
  padding: 15px 10px;
  font-size: 18px;
}

.game-text a {
  padding: 8px 20px;
  margin: 10px 0 5px;
  background-color: rgb(206, 168, 255);
  color: rgb(87, 52, 69);
  font-weight: 500;
  font-size: 17px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  display: inline-block;
}

.game-text a:hover {
  filter: brightness(90%);
  transition: filter 0.2s;
}

/* ~~~~~~~~~~ IN GAME HEADER~~~~~~~~~~ */

.game-timer {
  font-size: 20px;
  padding-right: 10px;
}

#items-to-find {
  display: flex;
  gap: 20px;
}

.item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.item img {
  width: 40px;
  border-radius: 50%;
  user-select: none;
}

.item img:hover {
  transform: scale(3) translateY(10px);
  transition: transform 0.2s;
}

.found {
  text-decoration: line-through;
  filter: brightness(80%);
}

/* ~~~~~~~~~~GAME PAGE~~~~~~~~~~ */

.main-img {
  width: 100%;
  height: auto;
  cursor: crosshair;
  display: block;
  user-select: none;
}

#target-box {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255, 0.4);
  border: dashed 3px white;
  color: white;
  font-size: 25px;
  text-align: center;
  vertical-align: middle;
  line-height: 80px;
  cursor: crosshair;
  user-select: none;
}

#dropdown {
  position: absolute;
  background-color: rgb(94, 55, 74);
  border-radius: 7px;
  overflow: hidden;
}

.dropdown-item {
  padding: 7px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 150px;
  user-select: none;
}

.dropdown-item:hover {
  background-color: rgb(109, 65, 86);
  transition: background-color 0.5s;
}

.dropdown-item img {
  width: 50px;
  border-radius: 50%;
}

.hidden {
  display: none;
}

/* ~~~~~~~~~~ALERT~~~~~~~~~~ */

.alert {
  position: fixed;
  top: 110px;
  padding: 15px 20px;
  border-radius: 7px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 500;
  opacity: 0;
  animation: fadeInAndOut 3000ms;
}

.alert-success {
  background-color: green;
}

.alert-fail {
  background-color: rgb(201, 0, 0);
}

@keyframes fadeInAndOut {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0.5;
  }
  10% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  95% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

/* ~~~~~~~~~~END GAME POPUP~~~~~~~~~~ */

.blocker {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  clip-path: inset(0 -100vmax);
}

.end-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.end-popup {
  border-radius: 10px;
  background-color: rgb(206, 168, 255);
  color: rgb(87, 52, 69);
  padding: 20px;
  text-align: center;
  font-size: 18px;
  animation: grow 0.3s linear 1;
}

.timer-text {
  font-weight: 500;
  font-size: 20px;
}

.form-group {
  padding: 15px 0;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
  font-size: 17px;
  font-weight: 500;
}

.form-group span {
  font-size: 15px;
  font-style: italic;
  font-weight: 400;
}

.form-group input {
  width: 100%;
  border: none;
  font-size: 18px;
  border-radius: 5px;
  padding: 5px 7px;
  color: rgb(87, 52, 69);
  outline: rgb(87, 52, 69) 1px solid;
}

.form-group input:focus {
  outline: rgb(87, 52, 69) 2px solid;
}

.entry-form button {
  font-size: 16px;
  background-color: rgb(94, 55, 74);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 7px 15px;
  cursor: pointer;
}

/* ~~~~~~~~~~LEADERBOARD PAGE~~~~~~~~~~ */

.leaderboard-page {
  text-align: center;
  margin: 0 10px 20px;
}

.lb-games {
  cursor: pointer;
}

.lb-title {
  font-weight: 500;
  margin: 25px 0;
  font-size: 28px;
}

.leaderboard-page .game-text {
  padding: 30px 10px;
}

.lb-game-title {
  font-weight: 500;
  margin: 40px 0 25px;
  font-size: 25px;
}

.selected {
  outline: white solid 2px;
  box-shadow: 0 2px 20px white;
}

.leaderboard-container {
  max-width: 800px;
  margin: auto;
  border-radius: 8px;
  background-color: rgb(109, 65, 86);
  overflow: hidden;
}

/* maybe cut off date on smaller screens and add ellipses to end of long names */

.lb-entry {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.6fr 0.6fr;
  justify-content: center;
  padding: 20px;
  text-align: left;
}

.lb-entry.labels {
  font-weight: 500;
  background-color: rgb(133, 82, 106);
}
