* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(94, 55, 74);
  color: white;
  font-family: 'Roboto', sans-serif;
}

#root {
  position: relative;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: white;
}

button {
  font-family: inherit;
  font-size: inherit;
}
